*
{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
body
{
    font-family: 'Arial';
    background-size: 100% 100%;
   	background-image:url("https://www.eluniversal.com.mx/sites/default/files/2019/10/06/trastornos.jpg");
   	
}
.container
{
	max-width: 900px;
	height: auto;
	background-color: white;
	margin: 3% auto;
	padding-bottom: 1rem:
}
.titulo1
{
	width: 100%;
	text-align: center;
	padding: 1.5rem 0rem;
	margin-bottom: 1rem;
	font-weight: bold;
	color: #CAC8C8;
	font-size: 27px;
}
.contentgabo
{
	display: grid;
	grid-gap:40px;
	grid-template-columns: repeat(1, 2fr);
	grid-template-areas: "paragraph image";
	width: 100%;
}
.contentgabo p
{
	grid-column-start: paragraph;
	margin-left: 10px;
}
.contentgabo img
{
	grid-column-start: image;	
	max-width: 90%;
	width: 500px;
	height: 300px;
}